@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tosca Accounts</h1>
    <p class="lead">Tosca Accounts is a concept enabling users to share workspaces and settings accross multiple machines.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Improve user experience</h2>
        <p>
            Using Tosca Accounts users have access to their settings and their workspaces on any pc. If you like the dark Tosca Commander theme
            you can now have it on any machine, wherever you log in. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manage testers easily</h2>
        <p>Assign new testers to workspaces with a click via the web gui. Get new people set up in 5 seconds. Distribute settings, customizations 
        and much more with ease.</p>
    </div>
    <div class="col-md-4">
        <h2>Better customer engagement</h2>
        <p>Send messages to customers. Inform them of patches, updates and possibly critical bugs. Engage with them where they spend a lot of time -
        in the Tosca Commander.</p>
    </div>
</div>